.alert a {
  color: #a94442;
  font-weight: bold;
  text-decoration: underline;
}

.alert a:hover {
  text-decoration: none;
}

#encoder img {
  width: 100%;
}

#encoder input {
  margin-bottom: 15px;
}

#image-preview {
  margin-bottom: 15px;
  display: none;
}

#decoder textarea {
  width: 100%;
  min-height: 300px;
  margin-bottom: 15px;
}